[report]
# Regexes for lines to exclude from consideration
ignore_errors = True
omit = 
    *matador/workflows*
    *matador/plugins*
    *matador/cli/run3.py
    *matador/crystal/network.py
exclude_lines = 
    pragma: no cover
    if verbosity
    if self.verbosity
    if debug
    if self.debug
    if kwargs.get('verbosity')
    if kwargs.get('debug')
