# .coveragerc to control coverage.py
[run]
branch = True
concurrency = multiprocessing
parallel = True

[report]
# Regexes for lines to exclude from consideration
ignore_errors = True
omit = 
    */tests/*
    setup.py
    */__init__.py
    *matador/plotting*
    *matador/workflows*
    *matador/plugins*
    *matador/compute*
    *matador/cli/dispersion.py
    *matador/cli/run3.py
exclude_lines = 
    pragma: no cover
    if verbosity
    if self.verbosity
    if debug
    if self.debug
    def plot_
    if kwargs.get('verbosity')
    if kwargs.get('debug')
