# .coveragerc to control coverage.py
[run]
branch = True
concurrency = multiprocessing
parallel = True

[report]
# Regexes for lines to exclude from consideration
ignore_errors = True
omit = 
    */tests/*
    setup.py
    */__init__.py
    *matador/plotting*
    *matador/compute*
    *matador/plugins*
    *matador/cli/dispersion.py
    *matador/cli/run3.py
