recursive-include matador/config *
recursive-include docs *
recursive-include matador/data/ *.dat
recursive-include matador/data/ *.csv
recursive-include requirements/ *
include matador/data/nouns
include matador/data/words
include README.rst
include CHANGELOG.rst
include INSTALL.rst
include LICENSE
include contributors.txt
