name: Run tests

on:
  pull_request:
    branches:
      - develop
      - master
  push:
    branches:
      - develop
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        python-version: [3.6]
        
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        cp matador/tests/data/matador_pipelines_conf.yml $HOME/.matadorrc
        python -m pip install --upgrade pip
        pip install -e .[test,plotting,crystal]
        pip install ase
    - name: Lint with flake8 
      run: |
        pip install flake8
        # check for syntax errors and fail
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # check for bad code smell on all but the least important files...
        flake8 . --count --max-complexity=-1 --max-line-length=127 --statistics --exclude docs,plugins,castep_params
    - name: Test with pytest and upload coverage
      run: |
        py.test -rs --cov-config .coveragerc --cov=./matador/ --cov-report=xml
        ls -altr
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
        flags: unittests
        yml: ./codecov.yml
