name: Run tests

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8]

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        cp tests/data/matador_pipelines_conf.yml $HOME/.matadorrc
        python -m pip install --upgrade pip setuptools
        pip install flake8
    - name: Check for syntax errors and lint with flake8
      run: |
        flake8 . \
            --count --select=E9,F63,F7,F82 --show-source --statistics
        # check for bad code smell on all but the least important files...
        flake8 . \
            --count \
            --statistics

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.6, 3.7, 3.8]

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        cp tests/data/matador_pipelines_conf.yml $HOME/.matadorrc
        python -m pip install --upgrade setuptools pip
        pip install -e .[test,optional]
    - name: Test with pytest
      run: |
        py.test -rs --cov-config .coveragerc --cov=./matador/ --cov-report=xml
    - name: Test notebook examples
      if: matrix.python-version == 3.8 && github.repository == 'ml-evs/matador'
      run: |
        py.test -rs -vvv --nbval --current-env --cov-config .coveragerc --cov=./matador/ --cov-append --cov-report=xml examples/interactive/magres_plotting/
        py.test -rs -vvv --nbval --current-env --cov-config .coveragerc --cov=./matador/ --cov-append --cov-report=xml examples/interactive/voltage/
        py.test -rs -vvv --nbval-lax --current-env --cov-config .coveragerc --cov=./matador/ --cov-append --cov-report=xml examples/interactive/pymatgen_and_ase_interfaces/
        py.test -rs -vvv --nbval-lax --current-env --cov-config .coveragerc --cov=./matador/ --cov-append --cov-report=xml examples/interactive/plot_styles/
    - name: Upload coverage to Codecov
      if: matrix.python-version == 3.8 && github.repository == 'ml-evs/matador'
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
        flags: unittests
